frontend/node_modules/
backend/node_modules/
AWS Info/
.DS_Store
www/
frontend/npm-debug.log
backend/npm-debug.log
test/e2e/reports/*
/.vscode
frontend/build
frontend/package-lock.json
backend/package-lock.json